{{!Can't use nav in application template due to material icon changing between screens}}
{{!--<nav>
    <div class="nav-wrapper black">
        <div class="col s12">
            <a href="#!" class="brand-logo left">80/20</a>
            <ul class="right "> <!--hide-on-med-and-down">-->
                {{#link-to 'home' tagName="li"}}
                    <a href="/home"><i class="material-icons">arrow_back</i></a>
                {{/link-to}}
                <!--<li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
                <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
                <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>-->
            </ul>
        </div>
    </div>
</nav>--}}
{{outlet}}