<nav>
	<div class="nav-wrapper black">
		<div class="col s12">
			<a href="#!" class="brand-logo left">80/20</a>
			<ul class="right "> <!--hide-on-med-and-down">-->
				{{#link-to 'settings' tagName="li"}}
					<a href="/settings"><i class="material-icons">settings</i></a>
				{{/link-to}}
			</ul>
		</div>
	</div>
</nav>
<div class="container">

	<!--div for pie rendering -->
	<div class="pie-container">
		{{#render-pie}}
			<div id="pie"></div>
		{{/render-pie}}
	</div>
	<!--div for chart rendering -->
	<div class="chart-container">
		{{#render-chart}}
			<div id="chart"></div>
		{{/render-chart}}
	</div>
	{{outlet}}
</div>



