<nav>
    <div class="nav-wrapper black">
        <div class="col s12">
            <a href="#!" class="brand-logo left">80/20</a>
            <ul class="right "> <!--hide-on-med-and-down">-->
                {{#link-to 'home' tagName="li"}}
                    <a href="/home"><i class="material-icons">arrow_back</i></a>
                {{/link-to}}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h2 class="header">Welcome to Ember</h2>
    <div class="row">
        <div class="s12"><span class="flow-text">Example Text</span></div>
    </div>-->



    {{outlet}}
</div>



